@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-rose-50/30 text-zinc-900 antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 120s linear infinite;
  }

  .animate-marquee-client {
    animation: marquee 120s linear infinite;
  }

  .animate-marquee:hover, .animate-marquee-client:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}